* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bg-green {
  background-color: #1cb60e;
}

.bg-reddish {
  background-color: #ff027e;
}

.bg-primary {
  background-color: #2f80ed;
}

.bg-danger {
  background-color: #d41313;
}

.bg-light-red {
  background-color: #f95f09;
}

.bg-warning {
  background-color: #fccc43;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.web__header-wrapper {
  background: #07003b;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 3.1rem;
}
.web__header-wrapper .web__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.web__header-wrapper .web__navbar {
  display: flex;
  align-items: center;
}
.web__header-wrapper .web__navbar .location,
.web__header-wrapper .web__navbar .phone {
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.web__navbar {
  display: flex;
  align-items: center;
}
.web__navbar .location,
.web__navbar .phone {
  margin-right: 30px;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 1rem;
}
.web__navbar .location img,
.web__navbar .phone img {
  margin-right: 1rem;
}

.bonus__box-wrapper {
  text-align: center;
}
.bonus__box-wrapper .bonus__titel {
  margin-bottom: 6rem;
  font-weight: 700;
  font-size: 36px;
  color: #07003b;
}
.bonus__box-wrapper .col img {
  margin-bottom: 1rem;
}
.bonus__box-wrapper .bonus__box {
  position: relative;
}
.bonus__box-wrapper .bonus__box::after {
  content: "";
  width: 3rem;
  height: 3rem;
  background-image: url(./images/left__arrow.svg);
  background-repeat: no-repeat;
  background-size: 3rem;
  position: absolute;
  left: -2rem;
  top: 1rem;
}
.bonus__box-wrapper .bonus__box::before {
  content: "";
  width: 3rem;
  height: 3rem;
  background-image: url(./images/right__arrow.svg);
  background-repeat: no-repeat;
  background-size: 3rem;
  position: absolute;
  right: -2rem;
  top: 1rem;
}

.discount-wrapper {
  margin-bottom: 4rem;
}

.common__btn {
  padding: 0.5rem 4rem;
  font-weight: 300;
  font-size: 14px;
  color: #07003b;
}

.common__btn:hover {
  background: #07003b;
  color: #fff;
}

.row {
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

.discount__card {
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(103, 101, 101, 0.08);
  border-radius: 3px;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 410px;
  position: relative;
}
.discount__card .brand__logo {
  position: absolute;
  width: 100%;
  padding: 0 0.5rem;
  top: 5px;
}
.discount__card .brand__logo .brand__percent {
  display: inline-block;
  padding: 0.1rem 1.6rem;
  background-color: #fff;
  border-radius: 0.3rem;
  font-weight: 700;
  font-size: 20px;
  color: #ff027e;
  margin-left: 47%;
}

.discount__card:hover {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}

.discount__card-titel {
  position: absolute;
  bottom: 10px;
  left: 0.5rem;
}
.discount__card-titel .building__name {
  font-weight: 700;
  font-size: 1.1rem;
}
.discount__card-titel .building__type {
  font-weight: 300;
  font-size: 0.9rem;
  padding: 0.4rem 1rem;
  border-radius: 2px;
  margin-bottom: 1rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #fff;
}

.show__more {
  text-align: center;
  margin-bottom: 3rem;
}
.show__more .show__more-btn {
  border: none;
  background-color: #07003b;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  font-weight: 300;
  font-size: 14px;
  box-shadow: 0px 5px 30px rgba(7, 0, 59, 0.5);
}

.web__footer-wrapper {
  background-color: #07003b;
  padding: 1rem 0;
}
.web__footer-wrapper .foooter__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.web__footer-wrapper .footer__text,
.web__footer-wrapper .footer__phone-number {
  font-weight: 400;
  font-size: 14px;
}

.social__media .facebook,
.social__media .instagram,
.social__media .telegram {
  text-decoration: none;
  color: #fff;
  margin: 0 1rem;
  font-weight: 400;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */